'.source.python':
    #  Normal missing Functionality

  'Function Definition':
    'prefix': 'def'
    'body': '''
    def ${1:fname}(${2:arg}):
        ${3:pass}
    '''
  'Initiator Function':
    'prefix': 'defi'
    'body': '''
    def __init__(self, ${1:arg}):
        ${2:pass}
    '''
  'Print Function':
    'prefix': 'print'
    'body': 'print($1)'

    # Tk functions

  'Button':
    'prefix': 'button'
    'body': 'tk.Button(${1:root}, text="$2")'

  'Label':
    'prefix': 'label'
    'body': 'tk.Label(${1:root}, text="$2")'

  'Frame':
    'prefix': 'frame'
    'body': 'tk.Frame(${1:root})'

  'Entry':
    'prefix': 'entry'
    'body': 'tk.Entry(${1:root})'

  'Grid':
    'prefix': 'grid'
    'body': 'grid(row=$1, colomn=$2)'

  'Sticky':
    'prefix': 'sticky'
    'body': 'sticky=tk.$1'

  'Check Button':
    'prefix': 'checkbutton'
    'body': 'tk.Checkbutton(${1:root}, text="$2")'

  'Main Loop':
    'prefix': 'mainloop'
    'body': 'mainloop()'
